<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Expert</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div>
        <h1>To Become an Expert</h1>
    </div>
    <div class="container">
        <form id="form" class="form" method="post" action="/expPersonalinfo">
            <!-- <h1>Sign Up</h1> -->
            <span style="color:red;"><%= reg %></span>
            <span style="color:red;"><%= msg %></span>
            <div class="form-field">
                <label for="name">Fullname:</label>
                <input type="text" name="name" id="name" autocomplete="off">
                <span style="color:red;"><%= a %></span>
                <small></small>
            </div>

            <div class="form-field">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" autocomplete="off">
                <span style="color:red;"><%= b %></span>
                <small></small>
            </div>

            <div class="form-field">
                <label for="name">Experience:</label>
                <input type="text" name="exp" id="exp" autocomplete="off">
                <span style="color:red;"><%= d %></span>
                <small></small>
            </div>

            <div class="form-field">
                <label for="name">Graduation:</label>
                <input type="text" name="grad" id="grad" autocomplete="off">
                <span style="color:red;"><%= d %></span>
                <small></small>
            </div>

            <div class="form-field">
                <label for="name">Address:</label>
                <input type="text" name="address" id="address" autocomplete="off">
                <small></small>
            </div>


            <div class="form-field">
                <label for="name">Phone:</label>
                <input type="text" name="Phone" id="Phone" autocomplete="off">
                <span style="color:red;"><%= c %></span>
                <small></small>
            </div>

            <div class="form-field">
                <label for="name">Skills:</label>
                <input type="text" name="skill" id="skill" autocomplete="off">
                <small></small>
            </div>

            
            <div class="form-field">
                <label for="name">Upload Resume</label>
                <input type="file" name="Resume" id="Resume" autocomplete="off">
                <small></small>
            </div>
            
            <button type="submit" value="submit" name="submit" style="background-color: #51a8ab;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;">Submit</button>

        </form>
        <p>Already have an account? <a href="/expertlogin" class="a2">Login!</a></p>
    </div>

    <!-- <script>
        function submitForm() {
    
    
            var name =  document.getElementsByTagName('input')[0];
            var email =  document.getElementsByTagName('input')[1];
            var experience =  document.getElementsByTagName('input')[2];
            var graduation =  document.getElementsByTagName('input')[3];
            var address =  document.getElementsByTagName('input')[4];
            var phone =  document.getElementsByTagName('input')[5];
            var skills =  document.getElementsByTagName('input')[6];
            
            var req = new XMLHttpRequest();
    
            req.open("POST",'/expPersonalinfo');
            req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            req.send("name="+name.value+"&email="+email.value+"&exp="+experience+"&grad="+graduation+"&address="+address.value+"&Phone="+phone.value+"&skill="+skills);
    
            req.onreadystatechange = function() {
    
                if(req.readyState==4 && req.status==200) {
                    name.value="";
                    email.value="";
                    experience.value="";
                    graduation.value="";
                    address.value="";
                    phone.value="";
                    skills.value="";
                }
            }
    
        }
    </script> -->

</body>




</html>